#HerMistakes {
  text-align: center;
  padding: 70px;
}

#HerMistakes-Title {
  padding: 0 0 15px 0;
  letter-spacing: 0.5em;
  font-size: 35px;
}

#Mistakes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  grid-auto-rows: minmax(1fr, auto);
  grid-auto-flow: row dense;
  grid-gap: 10px;
  align-items: start;
  letter-spacing: 0.5px;
  padding: 2em 7em;
}

#individual-Mistake {
  text-align: justify;
  box-sizing: border-box;
  padding: 5%;
  box-shadow: 10px 5px 5px #888888;
}

#Mistake-title {
  text-align: left;
  letter-spacing: 1px;
  font-size: 25px;
}
#Mistake-date {
  color: grey;
}
