#HerWorks {
  padding: 100px 400px;
  /* background-color: rgb(236, 236, 236); */
  text-align: center;
}

#HerWorks h1 {
  letter-spacing: 0.5em;
  font-size: 35px;
}

.Project-container {
  background-color: white;
  height: auto;
  width: 600px;
  overflow: auto;
  justify-content: stretch;
}
.Work-Title {
  letter-spacing: 1px;
}
.Work-Image-Fetch-React-Lab {
  content: url("./WorksImage/Fetch-React-Lab-Work.jpg");
  max-width: 200px;
  max-height: 400px;
  float: left;
  vertical-align: middle;
}
.Work-Image-myFeedback {
  content: url("./WorksImage/myFeedback.jpg");
  max-width: 200px;
  max-height: 400px;
  float: left;
  vertical-align: middle;
  padding: 0em 0em 0em 1em;
}
.Work-Description {
  padding: 5em;
}

.material-icons {
  font-size: 16px;
  /* To align the icon with the text. IT FREAKY WORKS!! LIKE FINALLY */
  vertical-align: text-bottom;
}

.anchor-text {
  border-bottom: solid rgb(235, 231, 231);
  border-bottom-width: 1.5px;
  padding: 0% 2%;
  padding-bottom: 4px;
}
